.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;

  padding: 10px 0;

  user-select: none;
  &__left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &-logo {
      margin-top: 7px;
      a {
        display: flex;
        align-items: center;
      }
      img {
        width: 110px;
      }
    }

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 5px;
      padding: 0 1px;

      li {
        a {
          display: flex;
          align-items: center;
        }
        filter: grayscale(100%) brightness(100%) contrast(0%) sepia(0%);
        transition: 0.6s ease;
        &:hover {
          filter: none;
        }
        color: white;
        list-style: none;
        width: 12px;
        &:first-child {
          width: 14px;
        }
      }
    }
  }

  &__center {
    .navigation__list {
      display: flex;
      align-items: center;
      gap: 13px;
      transition: all 0.3s ease;
      list-style: none;
      a {
        text-decoration: none;
        list-style: none;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        padding: 8px 13px;
        cursor: pointer;
        border-radius: 5px;
        transition: 1s ease;

        &:hover {
          background: #00000050;
        }
        display: inline-block;
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 12px;
    &-search {
      border-radius: 10px;
      height: 40px;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.3);
      }
      img {
        width: 13px;
        height: auto;
      }
    }
    &-login {
      border-radius: 10px;
      background: #3657cb;

      &:hover {
        box-shadow: 0px 0px 15px 0px rgba(72, 113, 255, 0.6);
      }

      padding: 0 40px;
      height: 40px;
      color: #fff;
      font-size: 12px;
      font-weight: 700;
    }
    .button {
      transition: all 0.5s ease;
      border: none;
      outline: none;
      cursor: pointer;
    }
    .button:active {
      scale: 0.97;
    }
  }
}
