* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Qanelas";
  transition: all 0.1s ease;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  background: #1e2538;

  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #ffffff10;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: #00000020;
  }
  .bg-poster {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-position: center;
    background-size: cover;
    transition: 1s ease;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: linear-gradient(to top, #1e2538 5%, rgba(0, 0, 0, 0) 100%);
    }
  }

  .bg-poster.change {
    animation: change 1s ease;
  }
  @keyframes change {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.7;
    }
  }

  img {
    width: 100%;
    height: 100%;
  }
  .conatiner {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;

    padding: 10px 0;

    user-select: none;
    &__left {
      display: flex;
      flex-direction: column;
      gap: 10px;
      &-logo {
        margin-top: 7px;
        a {
          display: flex;
          align-items: center;
        }
        img {
          width: 110px;
        }
      }

      ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
        padding: 0 1px;

        li {
          a {
            display: flex;
            align-items: center;
          }
          filter: grayscale(100%) brightness(100%) contrast(0%) sepia(0%);
          transition: 0.6s ease;
          &:hover {
            filter: none;
          }
          color: white;
          list-style: none;
          width: 12px;
          &:first-child {
            width: 14px;
          }
        }
      }
    }

    &__center {
      .navigation__list {
        display: flex;
        align-items: center;
        gap: 15px;

        transition: all 0.3s ease;
        .navigation__list-item {
          list-style: none;
          color: #fff;
          font-size: 14px;
          font-weight: 700;
          cursor: pointer;
          padding: 8px 13px;
          border-radius: 5px;
          transition: 1s ease;

          &:hover {
            background: #00000050;
          }
          display: inline-block;
        }
      }
    }

    &__right {
      display: flex;
      align-items: center;
      gap: 12px;
      &-search {
        border-radius: 10px;
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.3);
        }
        img {
          width: 13px;
          height: auto;
        }
      }
      &-login {
        border-radius: 10px;
        background: #3657cb;

        &:hover {
          box-shadow: 0px 0px 15px 0px rgba(72, 113, 255, 0.6);
        }

        padding: 0 40px;
        height: 40px;
        color: #fff;
        font-size: 12px;
        font-weight: 700;
      }
      .button {
        transition: all 0.5s ease;
        border: none;
        outline: none;
        cursor: pointer;
      }
      .button:active {
        scale: 0.97;
      }
    }
  }
}

main {
  margin-top: 35px;

  .in-cinema {
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 40px;
      user-select: none;

      &-title {
        color: #fff;
        font-size: 35px;
        font-weight: 900;
        line-height: 50px;
      }

      &-line {
        margin-top: 10px;
        stroke-width: 2px;
        display: inline-block;
        width: 50px;
        height: 2px;
        background: #fff;
      }
      &-categories {
        max-width: 50%;
        margin-top: 7px;

        ul {
          overflow-x: auto;
          display: flex;
          flex-wrap: nowrap;
          text-transform: capitalize;
          cursor: grab;
          cursor: -webkit-grab;
          border-radius: 5px;

          &::-webkit-scrollbar {
            height: 0;
          }
          &.active {
            background: #00000059;
            cursor: grabbing;
            cursor: -webkit-grabbing;
            li {
              cursor: grabbing;
            }
          }
          li {
            min-width: max-content;
            padding: 5px 10px;
            user-select: none;
            color: rgba(255, 255, 255, 0.35);
            font-size: 16px;
            font-weight: 700;
            list-style: none;
            transition: all 1s ease;
            border-radius: 5px;
            cursor: pointer;

            &.active {
              background: #00000054;
              color: white;
            }

            &:hover {
              color: #fff;
            }
          }
        }
      }
    }

    &__content {
      user-select: none;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 22px;
      transition: all 0.3s ease;

      .content-item {
        transition: all 0.3s ease-in-out;
      }

      .item-banner {
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 430px;
        transition: animation 700ms ease;
        &:hover .item-banner__bg {
          animation: fade-in 700ms ease-in;
          opacity: 1;
          visibility: visible;
          transition-delay: opacity 0.4s;
        }
        &__bg {
          background: rgba(54, 87, 203, 0.6);
          position: absolute;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          opacity: 0;
          visibility: hidden;
          transition: opacity 0.7s, visibility 0.5s;

          &:hover .item-about {
            animation: transform-top 500ms ease-in;
            transition-delay: all 0.4s;
            visibility: visible;
            @keyframes transform-top {
              from {
                opacity: 0;
                translate: 0 200%;
              }
              to {
                opacity: 1;
                transform: -50% 0;
              }
            }
          }
        }
      }
      .item-about {
        visibility: hidden;
        z-index: 10;
        overflow: hidden;
        padding: 10px 15px;
        border-radius: 10px;
        transition: all 1s ease;
        &:hover {
          box-shadow: 0px 0px 20px 0px #ffffff80;
        }
        &:active {
          scale: 0.95;
        }
        background: #fff;
        cursor: pointer;

        span {
          color: #3657cb;
          font-size: 18px;
          font-weight: 700;
          line-height: 166.5%;
        }
      }
      .item-rating {
        z-index: 10;
        right: 10px;
        top: 10px;
        position: absolute;
        padding: 5px 10px;
        border-radius: 5px;
        background: #89cb36;
        span {
          color: #fff;
          font-size: 16px;
          font-weight: 700;
        }
      }
      .item-title {
        display: block;
        margin-top: 5px;
        color: #fff;
        font-size: 15px;
        font-weight: 700;
      }
      .item-subtitle {
        margin-top: 3px;
        display: block;
        color: #f2f60f;
        font-size: 12px;
        font-weight: 400;
      }
    }
    .button-box {
      width: 100%;
      display: flex;
      justify-content: center;

      .show-button {
        align-self: center;
        margin-top: 50px;
        border-radius: 10px;
        border: 2px solid #fff;
        background: none;
        padding: 20px 35px;

        color: #fff;
        font-size: 18px;
        font-weight: 700;
        cursor: pointer;
      }
    }
    margin-bottom: 50px;
  }

  //!----------------------------------------------------------------------------------------

  .new-trailers {
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      flex-wrap: wrap;
      margin-bottom: 40px;
      user-select: none;
      transition: all 0.3s ease;

      &-title {
        color: #fff;
        font-size: 35px;
        font-weight: 900;
        line-height: 50px;
      }
      &-watchall {
        margin-bottom: -10px;
        a {
          display: flex;
          align-items: center;
          gap: 20px;
          color: #fff;
          font-size: 20px;
          font-weight: 700;
          text-decoration: none;
        }
        a:hover {
          text-decoration: underline;
        }
        svg {
          margin-bottom: -2px;
        }
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      user-select: none;
      transition: all 0.3s ease;

      iframe {
        width: 90%;
        margin: 0 auto;
        height: 600px;
        transition: 0.5s linear;
        margin-bottom: 10px;
        border-radius: 10px;
      }
      .content__info {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-left {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 30px;

          h3 {
            color: #fff;
            font-size: 40px;
            font-weight: 900;
            line-height: 40px;
          }
          ul {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
            padding: 0 1px;

            li {
              a {
                display: flex;
                align-items: center;
              }
              filter: grayscale(0%) brightness(0%) contrast(0%) sepia(0%);
              transition: 0.6s ease;
              &:hover {
                filter: none;
              }
              list-style: none;
              width: 12px;
              &:first-child {
                width: 14px;
              }
            }
          }
        }
        &-right {
          .buttons {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            div {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              gap: 5px;

              span {
                color: #fff;
                font-size: 15px;
                font-weight: 400;
              }
              .dislike-button {
                img {
                  margin-bottom: -7px;
                }
              }
              button {
                cursor: pointer;
                transition: all 0.3s ease;

                &:active {
                  scale: 0.95;
                }
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                border: none;
                border-radius: 10px;
                background: #1b2133;
                img {
                  width: 20px;
                  height: auto;
                }
              }
            }
          }
        }
      }
      .content__wrapper {
        display: flex;
        align-items: flex-start;
        gap: 13px;
        border-radius: 10px;
        margin-top: 10px;
        overflow: hidden;
        overflow-x: auto;
        padding: 15px 0;

        &::-webkit-scrollbar {
          height: 6px;
        }
        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          background: #3657cb;
        }
        &::-webkit-scrollbar-track {
          border-radius: 10px;
          background: #1b2133;
        }
        cursor: grab;
        &.active {
          background: #00000059;
          cursor: grabbing;
          cursor: -webkit-grabbing;
          .wrapper__item {
            .item-thumbnail {
              cursor: grabbing !important;
            }
          }
        }

        .wrapper__item {
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          gap: 6px;

          .polygon {
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            width: 35px;
            height: auto;
          }

          .item-thumbnail {
            position: relative;
            cursor: pointer;
            overflow: hidden;
            border-radius: 10px;
            width: 300px;
            height: 210px;

            &:hover .banner-bg {
              animation: fade-in 700ms ease-in;
              opacity: 1;
              visibility: visible;
              transition-delay: opacity 0.4s;
            }
            .banner-bg {
              background: rgba(54, 87, 203, 0.6);
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              opacity: 0;
              visibility: hidden;
              transition: opacity 0.7s, visibility 0.5s;

              &.active {
                animation: fade-in 700ms ease-in;
                opacity: 1;
                visibility: visible;
                transition-delay: opacity 0.4s;
              }
            }

            img {
              object-fit: cover;
            }
          }
          .item-title {
            color: #fff;
            font-size: 16px;
            font-weight: 700;
          }
        }
      }
    }
    margin-bottom: 50px;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
