* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Qanelas";
  transition: all 0.1s ease;
}

body {
  width: 100%;
  overflow-x: hidden;
  background: #1e2538;

  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #ffffff10;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: #00000020;
  }
  .bg-poster {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-position: center;
    background-size: cover;
    transition: 1s ease;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: linear-gradient(to top, #1e2538 10%, rgba(0, 0, 0, 0) 100%);
    }
  }

  .bg-poster.change {
    animation: change 1s ease;
  }
  @keyframes change {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.7;
    }
  }

  img {
    width: 100%;
    height: 100%;
  }
  .conatiner {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;

    padding: 10px 0;

    user-select: none;
    &__left {
      display: flex;
      flex-direction: column;
      gap: 10px;
      &-logo {
        margin-top: 7px;
        a {
          display: flex;
          align-items: center;
        }
        img {
          width: 110px;
        }
      }

      ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
        padding: 0 1px;

        li {
          a {
            display: flex;
            align-items: center;
          }
          filter: grayscale(100%) brightness(100%) contrast(0%) sepia(0%);
          transition: 0.6s ease;
          &:hover {
            filter: none;
          }
          color: white;
          list-style: none;
          width: 12px;
          &:first-child {
            width: 14px;
          }
        }
      }
    }

    &__center {
      .navigation__list {
        display: flex;
        align-items: center;
        gap: 15px;

        transition: all 0.3s ease;
        .navigation__list-item {
          list-style: none;
          color: #fff;
          font-size: 14px;
          font-weight: 700;
          cursor: pointer;
          padding: 8px 13px;
          border-radius: 5px;
          transition: 1s ease;

          &:hover {
            background: #00000050;
          }
          display: inline-block;
        }
      }
    }

    &__right {
      display: flex;
      align-items: center;
      gap: 12px;
      &-search {
        border-radius: 10px;
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.3);
        }
        img {
          width: 13px;
          height: auto;
        }
      }
      &-login {
        border-radius: 10px;
        background: #3657cb;

        &:hover {
          box-shadow: 0px 0px 15px 0px rgba(72, 113, 255, 0.6);
        }

        padding: 0 40px;
        height: 40px;
        color: #fff;
        font-size: 12px;
        font-weight: 700;
      }
      .button {
        transition: all 0.5s ease;
        border: none;
        outline: none;
        cursor: pointer;
      }
      .button:active {
        scale: 0.97;
      }
    }
  }
}

.main .container {
  max-width: 1220px;
  margin: 0 auto;

  .about-movie {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 45px;

    &__promo {
      display: flex;
      align-items: flex-start;
      gap: 50px;
      grid-template-columns: repeat(2, 1fr);

      .promo__left {
        .left__banner {
          background-position: center;
          border-radius: 12px;
          object-fit: cover;
          background-size: cover;
          width: 404px;
          height: 559px;
        }
      }
      .promo__right {
        .location {
          color: #4f5b7c;
          font-size: 16px;
          font-weight: 500;
          span {
            color: #fff;
          }
        }
        .movie-title {
          color: #fff;
          font-size: 65px;
          font-weight: 900;
          line-height: normal;
          
        }
        .movie__original-title {
          color: #fff;
          font-size: 23px;
          font-weight: 500;
        }
        .movie-description {
          margin-top: 20px;
          color: #fff;
          font-size: 20px;
          font-weight: 500;
          line-height: 166.5%; /* 33.3px */
        }
      }
    }
  }
}
