* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Qanelas";
  transition: all 0.1s ease;
}

html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  overflow-x: hidden;
  background: #1e2538;

  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #ffffff10;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: #00000020;
  }
}

.bg-poster {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-position: center;
  background-size: cover;
  transition: 1s ease;
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top, #1e2538 5%, rgba(0, 0, 0, 0.5) 100%);
  }
  &.change {
    animation: change 1s ease;
  }
  @keyframes change {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.7;
    }
  }
}

img {
  width: 100%;
  height: 100%;
}
.conatiner {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.main .container {
  max-width: 1220px;
  margin: 0 auto;

  .about-movie {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 45px;

    &__promo {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      gap: 50px;

      .promo__left {
        .left__banner {
          background-position: center;
          border-radius: 12px;
          object-fit: cover;
          background-size: cover;
          background-repeat: no-repeat;
          width: 365px;
          height: 550px;
        }
      }
      .promo__right {
        margin-top: 30px;
        .location {
          color: #7b87ad;
          font-size: 15px;
          font-weight: 500;
          span {
            text-shadow: 1px 1px 1px #00000050;

            color: #fff;
          }
        }
        .movie-title {
          margin-top: 10px;
          color: #fff;
          font-size: 55px;
          font-weight: 700;
          line-height: 68px;
        }
        .movie__original-title {
          display: inline-block;
          margin-top: 10px;
          color: #ffffff;
          font-size: 18px;
          font-weight: 500;
        }
        .movie-description {
          margin-top: 20px;
          color: #ffffff;
          font-size: 18px;
          font-weight: 500;
          line-height: 166.5%;
        }
        .movie-bottom {
          display: flex;
          align-items: center;
          gap: 30px;
          margin-top: 30px;

          a {
            text-decoration: none;
          }

          .trailer-button {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            padding: 15px 20px;
            background: none;
            border-radius: 10px;
            border: 2px solid #fff;
            cursor: pointer;
            transition: all 300ms ease;
            filter: grayscale(100%) brightness(100%) contrast(0%) sepia(0%);
            transition: 0.6s ease;
            &:hover {
              filter: none;
              box-shadow: 0px 0px 20px 0px #ffffff10;
            }
            &:active {
              scale: 0.98;
            }
            svg {
              width: 15px;
            }

            span {
              color: #fff;
              font-size: 14px;
              font-weight: 700;
            }
          }

          &__social {
            display: flex;
            align-items: center;
            ul {
              display: flex;
              align-items: center;
              justify-content: space-between;
              gap: 25px;
              padding: 0 1px;

              li {
                a {
                  display: flex;
                  align-items: center;
                }
                filter: grayscale(100%) brightness(100%) contrast(0%) sepia(0%);
                transition: 0.6s ease;
                &:hover {
                  filter: none;
                }
                color: white;
                list-style: none;
                width: 12px;
                &:first-child {
                  width: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
}
