* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Qanelas";
  transition: all 0.1s ease;
}

html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  overflow-x: hidden;
  background: #1e2538;
  scrollbar-width: thin;
  scrollbar-color: #ffffff10 #00000020;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #ffffff10;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: #00000020;
  }
}

.bg-poster {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-position: center;
  background-size: cover;
  transition: 1s ease;
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top, #1e2538 5%, rgba(0, 0, 0, 0.5) 100%);
  }
  &.change {
    animation: change 1s ease;
  }
  @keyframes change {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.7;
    }
  }
}

img {
  width: 100%;
  height: 100%;
}
.conatiner {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.main .container {
  max-width: 1220px;
  margin: 0 auto;
}

//!-------------------------------------------------------------

.about-movie {
  display: flex;
  align-items: flex-end;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 45px;
  margin-bottom: 60px;
  &__promo {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;

    .promo__left {
      .left__banner {
        background-position: center;
        border-radius: 12px;
        object-fit: cover;
        background-size: cover;
        background-repeat: no-repeat;
        width: 365px;
        height: 550px;
      }
    }
    .promo__right {
      .location {
        color: #7b87ad;
        font-size: 15px;
        font-weight: 500;
        span {
          text-shadow: 1px 1px 1px #00000050;
          color: #fff;
        }
      }
      .movie-title {
        margin-top: 5px;
        color: #fff;
        font-size: 55px;
        font-weight: 700;
        line-height: 68px;
      }
      .movie__original-title {
        display: inline-block;
        margin-top: 3px;
        color: #ffffff;
        font-size: 18px;
        font-weight: 500;
      }
      .movie-description {
        margin-top: 20px;
        color: #ffffff;
        font-size: 18px;
        font-weight: 500;
        line-height: 166.5%;
      }

      .swipe__buttons {
        margin-top: 15px;
        display: flex;
        gap: 20px;

        button {
          border: none;
          background: none;
          color: #6d717d;
          font-size: 19px;
          font-weight: 600;
          cursor: pointer;
          transition: 0.4s ease;

          &:hover {
            color: #fff;
          }

          &.active {
            color: #fff;
            text-decoration-line: underline;
          }
        }
      }

      .favourite {
        margin-top: 20px;
        display: flex;
        align-items: center;
        gap: 20px;
        p {
          color: #e8e9eb;
          font-size: 14px;
          font-weight: 500;
        }
        button {
          position: relative;
          border-radius: 10px;
          background: #262f45;
          border: none;
          outline: none;
          width: 50px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: scale 0.4s ease, color 0.4s ease;
          cursor: pointer;
          svg {
            transition: scale 0.4s ease;
            &:active {
              scale: 0.95;
            }
            min-width: 25px;
            min-height: 25px;
            margin: 15px;
            fill: white;
            height: 25px;
            width: 25px;
          }
          &.active {
            background: rgba(212, 48, 48, 0.2);
            svg {
              fill: rgba(212, 48, 48, 1);
            }
          }
        }
      }

      .about-actor {
        overflow: hidden;
        display: flex;

        .actor-information {
          margin-top: 15px;
          translate: -100% 0;
          transition: 0.5s ease;
          &.active {
            translate: 0 0;
          }

          .information-list {
            list-style: none;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            gap: 17px;
            width: 500px;

            li {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              color: rgba(255, 255, 255, 0.8);
              font-family: Qanelas;
              font-size: 18px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;

              span:last-child {
                color: #f2f60f;
                font-weight: 400;
                transition: 0.5s ease;
                a {
                  color: #f2f60f;
                }
                &:hover {
                  color: #c3c622;
                  text-decoration: underline;
                  cursor: pointer;
                }
              }
            }
          }
        }

        .actor-biography {
          translate: +100% 0;
          transition: 0.5s ease;
          width: 500px;
          height: 260px;
          overflow: hidden;
          overflow-y: auto;
          scrollbar-width: none;
          margin-top: 15px;

          &::-webkit-scrollbar {
            width: 0;
          }
          p {
            margin-bottom: 15px;
            color: rgba(255, 255, 255, 0.8);
            font-size: 17px;
            font-weight: 500;
          }
          &.active {
            translate: -100% 0 !important;
            color: black;
          }
        }
      }
    }
  }
}

//!-------------------------------------------------------------

.anticipated-movies {
  margin-bottom: 50px;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
    user-select: none;

    &-title {
      color: #fff;
      font-size: 30px;
      font-weight: 900;
      line-height: 50px;
    }
  }

  .swiper {
    user-select: none;
    width: 100%;
    padding-top: 30px;

    .swiper-wrapper {
      display: flex;
      height: 460px;
    }
    .swiper-button-disabled {
      opacity: 0;
    }
    .swiper-button-next::after,
    .swiper-button-prev::after {
      color: #fff;
    }
    .swiper-slide {
      display: flex;
      flex-direction: column;
      position: relative;

      position: relative;
      overflow: hidden;

      .item-rating {
        z-index: 10;
        right: 10px;
        top: 10px;
        position: absolute;
        padding: 5px 10px;
        border-radius: 5px;
        background: #89cb36;
        span {
          color: #fff;
          font-size: 16px;
          font-weight: 700;
        }
      }
      .item-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        margin-top: 5px;
        color: #fff;
        font-size: 15px;
        font-weight: 700;
      }
      .item-subtitle {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-top: 3px;
        display: block;
        color: #f2f60f;
        font-size: 12px;
        font-weight: 400;
      }

      .item-banner {
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 430px;
        transition: animation 700ms ease;
        &:hover .item-banner__bg {
          animation: fade-in 700ms ease-in;
          opacity: 1;
          visibility: visible;
          transition-delay: opacity 0.4s;
        }
        animation: fade-in 700ms ease-in;

        &:hover .item-banner__bg {
          animation: fade-in 700ms ease-in;
          opacity: 1;
          visibility: visible;
          transition-delay: opacity 0.4s;
        }
        &__bg {
          overflow: hidden;
          background: rgba(54, 87, 203, 0.6);
          position: absolute;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          opacity: 0;
          visibility: hidden;
          transition: opacity 0.6s, visibility 0.5s;

          &:hover .item-about {
            animation: fade-in 1000ms ease-out;
            transition-delay: all 0.4s;
            visibility: visible;
          }
        }
        .item-about {
          visibility: hidden;
          z-index: 10;
          overflow: hidden;
          padding: 10px 15px;
          border-radius: 10px;
          transition: all 1s ease;
          &:hover {
            box-shadow: 0px 0px 20px 0px #ffffff80;
          }
          &:active {
            scale: 0.95;
          }
          background: #fff;
          cursor: pointer;

          span {
            color: #3657cb;
            font-size: 18px;
            font-weight: 700;
            line-height: 166.5%;
          }
        }
      }
    }

    .swiper-pagination {
      position: absolute;
      top: 0;
      bottom: auto;
      color: #fff;
      font-size: 18px;
      font-weight: 500;
    }
    .swiper-pagination-bullet {
      background: #000000;
      outline: 1px solid rgba(255, 255, 255, 0.5);
      opacity: 1;
    }
    .swiper-pagination-bullet-active {
      width: 10px;
      height: 10px;
      background-color: #ffffffe1;
      border-radius: 50%;
      margin: 0 5px;
      cursor: pointer;
    }
  }
}
